// Grab our child theme variables and bootstrap style
@import "theme/variables";
@import "assets/bootstrap5/bootstrap";

// Grab our child theme mixins
@import "theme/mixins";

// replace default bootstrap class 
@import "theme/reboot";
@import "theme/type";
@import "theme/nav";
@import "theme/navbar";

// change default wordpress class
@import "theme/wordpress";
@import "theme/wordpress-blocks";
@import "theme/wordpress-colors";

// change default contact-form7 class
@import "theme/contact-form7";

// additional theme scss files 
@import "theme/homepage";
@import "theme/loop";
@import "theme/pagination";
@import "theme/comments";
@import "theme/sidebar";
@import "theme/footer";

// change default applause button class
@import "theme/applause-button";