.aksara-wrapper {
    position: relative;
    margin-bottom: $spacer * 1.5;

    .aksara-name, .aksara-transliteration, .aksara-description, .aksara-translation {
        text-align: center;
    }

    .aksara-name, .aksara-transliteration {
        font-weight: $font-weight-bold;
    }
    
    .aksara-description {
        font-size: $font-size-sm;
    }

    .aksara-text {
        @include aksara-text($aksara-font-size-base);
    }

    .aksara-text-small {
        @include aksara-text($aksara-font-size-small);
    }
    
    .aksara-example {
        display: inline-block;
        margin: 0 $spacer * 1.5;
    }

    .aksara-example:first-child {
        margin-left: 0 !important;
    }

    .aksara-example:last-child {
        margin-right: 0 !important;
    }

    .diacritic-top,
    .diacritic-below,
    .diacritic-right,
    .diacritic-left,
    .diacritic-left.diacritic-right {
        position:relative;     
        display:inline-block;
    }

    .diacritic-top::before,
    .diacritic-below::before,
    .diacritic-right::before,
    .diacritic-left::before,
    .diacritic-left.diacritic-right::before,
    .diacritic-left.diacritic-right::after {
        content:attr(data-content);
        position:absolute;
        left:0;
        top:0;   
        overflow:hidden;
        cursor: text;   
    }

    .diacritic-top::before,
    .diacritic-below::before,
    .diacritic-right::before,
    .diacritic-left.diacritic-right::before {
        width: 100%; 
    }

    // main color
    .diacritic-top,
    .diacritic-left {
        color: $gray-700;
    }

    // diacritic color
    .diacritic-top::before,
    .diacritic-left::before {
        color: $primary;
    }

    // diacritic color
    .diacritic-below,
    .diacritic-right {
        color: $primary;
    }

    // main color
    .diacritic-below::before, 
    .diacritic-right::before { 
        color: $gray-700;
    }

    &.grid {
        column-gap: 0;
        row-gap: $spacer;
    }

    &.wrapper-sandangan {
        .aksara-transliteration {
            font-weight: $font-weight-normal;
        }

        // main color
        .diacritic-top,
        .diacritic-left {
            color: $gray-300;
        }

        // diacritic color
        .diacritic-top::before,
        .diacritic-left::before {
            color: $gray-700;
        }

        // diacritic color
        .diacritic-below,
        .diacritic-right {
            color: $gray-700;
        }

        // main color
        .diacritic-below::before, 
        .diacritic-right::before { 
            color: $gray-300;
        }
    }
}

@include media-breakpoint-down(md) {
    .aksara-wrapper {
        font-size: $font-size-sm;

        .aksara-text {
            @include aksara-text($aksara-font-size-md-base);
        }

        .aksara-text-small {
            @include aksara-text($aksara-font-size-md-small);
        }

        .aksara-example {
            margin: 0 $spacer;
        }
    }
}