#wrapper-footer {
    .wp-block-social-links {
        @include list-unstyled;
        margin: 0;
    
        .wp-block-social-link {
            display: inline-block;
            border-radius: 0;
            background-color: transparent !important;
            color: $gray-700 !important;
            padding-inline-start: 0;
            margin-right: $list-inline-padding;
            padding: 0;
    
            a {
                padding: 0;
            }
        }
    }

    .site-info {
        text-align: right;
    }
}

@include media-breakpoint-down(md) {
    #wrapper-footer {
        .wp-block-social-links {
            display: flex;
            justify-content: center;
        }

        .site-info {
            text-align: center;
        }
    }    
}