#wrapper-hero {
    display: flex;
    align-items: center;
    min-height: 420px;

    .hero-title {
        font-size: 3.4rem;
    }
}

#wrapper-about {
    display: flex;
    flex-direction: row;

    .author-image {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            max-height: 480px;
        }
    }

    .author-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}