.page-title {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    margin-bottom: 0;
}

.hentry {
    .entry-title {
        font-size: $font-size-lg;
        
        a {
            color: $gray-700;
            text-decoration: none;
        }
    }
    
    .entry-meta {
        font-weight: $font-weight-bold;

        a {
            color: $gray-700;
            text-decoration: none;    
        }
    }
        
    .entry-content {
        h1, h2, .h1, .h2 {
            font-size: $font-size-lg;
        }

        h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
            font-size: $font-size-base;
        }
    }

    
    &:last-child {
        margin-bottom: 0 !important;
    }
}

#wrapper-index .more-posts a {
    font-weight: $font-weight-bold;
}

#wrapper-featured-work .more-works a {
    font-weight: $font-weight-bold;
}

#wrapper-single, #wrapper-page {
    .hentry {
        .entry-header {
            padding-top: $spacer * 1.5;
            padding-bottom: $spacer * 4;
        }

        .entry-title, .entry-categories, .entry-meta {
            text-align: center;
        }

        .entry-categories ul {
            @include list-unstyled;
            margin-bottom: 0;
            
            li {
                @include list-inline-comma-item;

                a {
                    font-weight: $font-weight-bold;
                }
            }
        }
    }
}

#wrapper-single-work, #wrapper-featured-work, #wrapper-archive-work {
    .hentry {
        .entry-tags, .entry-dev-tools {
            text-align: right;

            ul {
                @include list-unstyled;
                margin-bottom: 0;
        
                li {
                    @include list-inline-comma-item;
                }
            }
        }

        .entry-tags .entry-tags-heading, .entry-dev-tools .entry-dev-tools-heading {
            font-weight: $font-weight-bolder;
        }
    }
}

#wrapper-featured-work, #wrapper-archive-work {
    .hentry {
        .entry-tags, .entry-dev-tools {
            text-align: right;
        }
    }
}

#wrapper-single-work {
    .hentry {
        display: grid;
        grid-template-columns: 1fr min(675px, 100%) 1fr;

        > * {
            grid-column: 2;
        }
        
        .wp-block-image {
            width: 100%;
            grid-column: 1 / 4;
        }

        .entry-tags, .entry-dev-tools {
            display: inline-block;

            &:not(:last-child) {
                margin-right: $spacer * 1.5;
            }
        }

        .entry-tags .entry-tags-heading, .entry-dev-tools .entry-dev-tools-heading {
            text-align: left;
        }
    }
}

#wrapper-archive-freebies {
    .page-title {
        font-size: $font-size-base;
    }

    .hentry {
        padding-top: $spacer * 3;
        padding-bottom: $spacer * 3;
    }
}

@include media-breakpoint-up(lg) { 
    #wrapper-single, #wrapper-page {
        .container {
            max-width: 675px;
        }
    }
}

@include media-breakpoint-down(md) {
    .hentry {
        .entry-title {
            font-size: $font-size-base;
        }

        .entry-content {
            h1, h2, .h1, .h2, h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
                font-size: $font-size-base;
            }
        }
    }
    
    #wrapper-featured-work, #wrapper-archive-work {
        .hentry {
            .entry-tags {
                display: inline-block;
                text-align: left;
                margin-right: $spacer * 1.5;
            }
    
            .entry-dev-tools {
                display: inline-block;
                text-align: left;
            }
        }
    }

    #wrapper-archive-freebies {
        .hentry {
            padding-top: $spacer * 1.5;
            padding-bottom: $spacer * 1.5;
        }
    }
}