.nav {
    .nav-item {
        .nav-link {
            text-decoration: underline;
            color: $nav-link-color;
        }

        &:first-child {
            .nav-link {
                padding-left: 0;
            }
        }

        &:last-child {
            .nav-link {
                padding-right: 0;
            }
        }
    }
}