.pagination .page-item {
    position: relative;
    width: $pagination-size;
    height: $pagination-size;
    margin-right: $spacer * .5;

    .page-link {
        width: 100%;
        height: 100%;
        padding: 0;
        border: 0;
        border-radius: 50%;
        text-align: center;
    }

    &:last-child {
        margin-right: 0;
    }
}