#right-sidebar {
    .widget_block {
        ul {
            @include list-unstyled;

            li {
                list-style-type: '\2014'; 
                padding-inline-start: 1ch;
                margin-bottom: $spacer * .5;
            }
        }
    }

    .wp-block-categories-list {
        .cat-item {
            list-style-type: none;
            padding-inline-start: 0;
            margin-bottom: 0;
        }
    }
}

@include media-breakpoint-down(md) {
    #right-sidebar {
        .widget_block {
            ul {
                li {
                    list-style-type: none; 
                    padding-inline-start: 0;
                }
            }
        }
    }
}