.widget {
    input {
        display: block;
        width: 100%;
        padding: $input-padding-y $input-padding-x;
        font-family: $input-font-family;
        @include font-size($input-font-size);
        font-weight: $input-font-weight;
        line-height: $input-line-height;
        color: $input-color;
        background-color: $input-bg;
        background-clip: padding-box;
        border: $input-border-width solid $input-border-color;
        appearance: none; // Fix appearance for date inputs in Safari

        // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
        @include border-radius($input-border-radius, 0);

        @include box-shadow($input-box-shadow);
        @include transition($input-transition);

        // Customize the `:focus` state to imitate native WebKit styles.
        &:focus {
            color: $input-focus-color;
            background-color: $input-focus-bg;
            outline: 0;
        }

        // Add some height to date inputs on iOS
        // https://github.com/twbs/bootstrap/issues/23307
        // TODO: we can remove this workaround once https://bugs.webkit.org/show_bug.cgi?id=198959 is resolved
        &::-webkit-date-and-time-value {
            // Multiply line-height by 1em if it has no unit
            height: if(unit($input-line-height) == "", $input-line-height * 1em, $input-line-height);
        }

        // Placeholder
        &::placeholder {
            color: $input-placeholder-color;
            // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
            opacity: 1;
        }

        // Disabled and read-only inputs
        //
        // HTML5 says that controls under a fieldset > legend:first-child won't be
        // disabled if the fieldset is disabled. Due to implementation difficulty, we
        // don't honor that edge case; we style them as disabled anyway.
        &:disabled,
        &[readonly] {
            background-color: $input-disabled-bg;
            border-color: $input-disabled-border-color;
            // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
            opacity: 1;
        }

        // File input buttons theming
        &::file-selector-button {
            padding: $input-padding-y $input-padding-x;
            margin: (-$input-padding-y) (-$input-padding-x);
            margin-inline-end: $input-padding-x;
            color: $form-file-button-color;
            @include gradient-bg($form-file-button-bg);
            pointer-events: none;
            border-color: inherit;
            border-style: solid;
            border-width: 0;
            border-inline-end-width: $input-border-width;
            border-radius: 0; // stylelint-disable-line property-disallowed-list
            @include transition($btn-transition);
        }

        &:hover:not(:disabled):not([readonly])::file-selector-button {
            background-color: $form-file-button-hover-bg;
        }

        &::-webkit-file-upload-button {
            padding: $input-padding-y $input-padding-x;
            margin: (-$input-padding-y) (-$input-padding-x);
            margin-inline-end: $input-padding-x;
            color: $form-file-button-color;
            @include gradient-bg($form-file-button-bg);
            pointer-events: none;
            border-color: inherit;
            border-style: solid;
            border-width: 0;
            border-inline-end-width: $input-border-width;
            border-radius: 0; // stylelint-disable-line property-disallowed-list
            @include transition($btn-transition);
        }

        &:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
            background-color: $form-file-button-hover-bg;
        }
    }
}

.widget_search {
    .wp-block-search__input {
        border-radius: 0;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid $gray-700;
    }
    
    .wp-block-search__button {
        display: inline-block;
        font-weight: $font-weight-bold;
        line-height: 1.5;
        color: $gray-700;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: transparent;
        border: 1px solid transparent;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
}

.widget_block {
    ul {
        @include list-unstyled;
        margin-bottom: 0;
    
        li {
            list-style-type: '\2014'; 
            padding-inline-start: 1ch;
            margin-bottom: $spacer * .5;
        }
    }
}

.wp-block-categories-list {
    @include list-unstyled;

    .cat-item {
        display: inline-block;
        padding-left: 0;
        margin-bottom: 0;
        padding-inline-start: 0;

        &:not(:last-child) {
            margin-right: $list-inline-padding;

            a::after {
                content: ',';
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .widget_block {
        ul {
            li {
                list-style-type: none; 
                padding-inline-start: 0;
            }
        }
    }
}